/*
用户全部 API 文档

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zsgf

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserFriendsAPIService UserFriendsAPI service
type UserFriendsAPIService service

type ApiUserCommonInterestsRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	appKey string
	tag *string
	skip *int32
	take *int32
}

// 兴趣标签
func (r ApiUserCommonInterestsRequest) Tag(tag string) ApiUserCommonInterestsRequest {
	r.tag = &tag
	return r
}

// 跳过的记录数
func (r ApiUserCommonInterestsRequest) Skip(skip int32) ApiUserCommonInterestsRequest {
	r.skip = &skip
	return r
}

// 获取的记录数
func (r ApiUserCommonInterestsRequest) Take(take int32) ApiUserCommonInterestsRequest {
	r.take = &take
	return r
}

func (r ApiUserCommonInterestsRequest) Execute() (*UserCommonInterestsResultApiResponse, *http.Response, error) {
	return r.ApiService.UserCommonInterestsExecute(r)
}

/*
UserCommonInterests 推荐相似兴趣用户

推荐有共同爱好的用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserCommonInterestsRequest
*/
func (a *UserFriendsAPIService) UserCommonInterests(ctx context.Context, appKey string) ApiUserCommonInterestsRequest {
	return ApiUserCommonInterestsRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return UserCommonInterestsResultApiResponse
func (a *UserFriendsAPIService) UserCommonInterestsExecute(r ApiUserCommonInterestsRequest) (*UserCommonInterestsResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserCommonInterestsResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserCommonInterests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/CommonInterests"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserFollowUserRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	userId int64
	appKey string
}

func (r ApiUserFollowUserRequest) Execute() (*BooleanApiResponse, *http.Response, error) {
	return r.ApiService.UserFollowUserExecute(r)
}

/*
UserFollowUser 添加关注

关注指定用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId 要关注的用户ID
 @param appKey
 @return ApiUserFollowUserRequest
*/
func (a *UserFriendsAPIService) UserFollowUser(ctx context.Context, userId int64, appKey string) ApiUserFollowUserRequest {
	return ApiUserFollowUserRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return BooleanApiResponse
func (a *UserFriendsAPIService) UserFollowUserExecute(r ApiUserFollowUserRequest) (*BooleanApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserFollowUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Follower/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserFollowerPutRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	id int64
	appKey string
	followerPutModel *FollowerPutModel
}

// 更新粉丝的请求参数
func (r ApiUserFollowerPutRequest) FollowerPutModel(followerPutModel FollowerPutModel) ApiUserFollowerPutRequest {
	r.followerPutModel = &followerPutModel
	return r
}

func (r ApiUserFollowerPutRequest) Execute() (*BooleanApiResponse, *http.Response, error) {
	return r.ApiService.UserFollowerPutExecute(r)
}

/*
UserFollowerPut 刷新粉丝数据

根据粉丝ID更新粉丝信息

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id 粉丝ID
 @param appKey
 @return ApiUserFollowerPutRequest
*/
func (a *UserFriendsAPIService) UserFollowerPut(ctx context.Context, id int64, appKey string) ApiUserFollowerPutRequest {
	return ApiUserFollowerPutRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return BooleanApiResponse
func (a *UserFriendsAPIService) UserFollowerPutExecute(r ApiUserFollowerPutRequest) (*BooleanApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserFollowerPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Follower/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.followerPutModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserFollowersRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	appKey string
	tag *string
	status *string
	targetUserId *int64
	skip *int32
	take *int32
}

// 标签
func (r ApiUserFollowersRequest) Tag(tag string) ApiUserFollowersRequest {
	r.tag = &tag
	return r
}

// 状态
func (r ApiUserFollowersRequest) Status(status string) ApiUserFollowersRequest {
	r.status = &status
	return r
}

// 指定用户的粉丝
func (r ApiUserFollowersRequest) TargetUserId(targetUserId int64) ApiUserFollowersRequest {
	r.targetUserId = &targetUserId
	return r
}

// 跳过的记录数
func (r ApiUserFollowersRequest) Skip(skip int32) ApiUserFollowersRequest {
	r.skip = &skip
	return r
}

// 获取的记录数
func (r ApiUserFollowersRequest) Take(take int32) ApiUserFollowersRequest {
	r.take = &take
	return r
}

func (r ApiUserFollowersRequest) Execute() (*UserFollowersResultApiResponse, *http.Response, error) {
	return r.ApiService.UserFollowersExecute(r)
}

/*
UserFollowers 获取粉丝列表

根据条件获取我的粉丝列表

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserFollowersRequest
*/
func (a *UserFriendsAPIService) UserFollowers(ctx context.Context, appKey string) ApiUserFollowersRequest {
	return ApiUserFollowersRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return UserFollowersResultApiResponse
func (a *UserFriendsAPIService) UserFollowersExecute(r ApiUserFollowersRequest) (*UserFollowersResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserFollowersResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserFollowers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Followers"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.targetUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetUserId", r.targetUserId, "form", "")
	} else {
		var defaultValue int64 = 0
		r.targetUserId = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserFollowingRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	appKey string
	tag *string
	status *string
	targetUserId *int64
	skip *int32
	take *int32
	checkUserId *int64
	onlyIDs *bool
}

// 用于过滤关注列表的标签（可选）。
func (r ApiUserFollowingRequest) Tag(tag string) ApiUserFollowingRequest {
	r.tag = &tag
	return r
}

// 用于过滤关注列表的状态（可选）。
func (r ApiUserFollowingRequest) Status(status string) ApiUserFollowingRequest {
	r.status = &status
	return r
}

// 指定用户的关注记录，如果不提供则默认为当前用户的关注。
func (r ApiUserFollowingRequest) TargetUserId(targetUserId int64) ApiUserFollowingRequest {
	r.targetUserId = &targetUserId
	return r
}

// 跳过的记录数，用于分页（默认0）。
func (r ApiUserFollowingRequest) Skip(skip int32) ApiUserFollowingRequest {
	r.skip = &skip
	return r
}

// 获取的记录数，用于分页（默认10）。
func (r ApiUserFollowingRequest) Take(take int32) ApiUserFollowingRequest {
	r.take = &take
	return r
}

// 要判断是否关注的目标用户ID。如果提供此参数，方法将返回一个布尔值，表示当前用户是否关注该目标用户。
func (r ApiUserFollowingRequest) CheckUserId(checkUserId int64) ApiUserFollowingRequest {
	r.checkUserId = &checkUserId
	return r
}

// 是否只返回关注用户的ID集合，默认为false（即返回完整的关注用户信息）。
func (r ApiUserFollowingRequest) OnlyIDs(onlyIDs bool) ApiUserFollowingRequest {
	r.onlyIDs = &onlyIDs
	return r
}

func (r ApiUserFollowingRequest) Execute() (*BooleanApiResponse, *http.Response, error) {
	return r.ApiService.UserFollowingExecute(r)
}

/*
UserFollowing 获取关注列表 / 判断是否关注

根据条件获取我的关注列表，或判断是否关注某个用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserFollowingRequest
*/
func (a *UserFriendsAPIService) UserFollowing(ctx context.Context, appKey string) ApiUserFollowingRequest {
	return ApiUserFollowingRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return BooleanApiResponse
func (a *UserFriendsAPIService) UserFollowingExecute(r ApiUserFollowingRequest) (*BooleanApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserFollowing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Following"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.targetUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetUserId", r.targetUserId, "form", "")
	} else {
		var defaultValue int64 = 0
		r.targetUserId = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	if r.checkUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkUserId", r.checkUserId, "form", "")
	}
	if r.onlyIDs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onlyIDs", r.onlyIDs, "form", "")
	} else {
		var defaultValue bool = false
		r.onlyIDs = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserFriendsNearByRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	longitude *float64
	latitude *float64
	appKey string
	country *string
	state *string
	city *string
	district *string
	gender *string
	ageS *int32
	ageE *int32
	tag *string
	distance *int64
	skip *int32
	take *int32
}

// 当前用户经度坐标(WGS84坐标系)
func (r ApiUserFriendsNearByRequest) Longitude(longitude float64) ApiUserFriendsNearByRequest {
	r.longitude = &longitude
	return r
}

// 当前用户纬度坐标(WGS84坐标系)
func (r ApiUserFriendsNearByRequest) Latitude(latitude float64) ApiUserFriendsNearByRequest {
	r.latitude = &latitude
	return r
}

// 国家过滤条件（精确匹配）
func (r ApiUserFriendsNearByRequest) Country(country string) ApiUserFriendsNearByRequest {
	r.country = &country
	return r
}

// 省份过滤条件（精确匹配）
func (r ApiUserFriendsNearByRequest) State(state string) ApiUserFriendsNearByRequest {
	r.state = &state
	return r
}

// 城市过滤条件（精确匹配）
func (r ApiUserFriendsNearByRequest) City(city string) ApiUserFriendsNearByRequest {
	r.city = &city
	return r
}

// 区县过滤条件（精确匹配）
func (r ApiUserFriendsNearByRequest) District(district string) ApiUserFriendsNearByRequest {
	r.district = &district
	return r
}

// 性别过滤条件（可选值示例：Male/Female/Other）
func (r ApiUserFriendsNearByRequest) Gender(gender string) ApiUserFriendsNearByRequest {
	r.gender = &gender
	return r
}

// 年龄起始范围（包含，0表示不限制）
func (r ApiUserFriendsNearByRequest) AgeS(ageS int32) ApiUserFriendsNearByRequest {
	r.ageS = &ageS
	return r
}

// 年龄结束范围（包含，0表示不限制）
func (r ApiUserFriendsNearByRequest) AgeE(ageE int32) ApiUserFriendsNearByRequest {
	r.ageE = &ageE
	return r
}

// 兴趣标签过滤（支持模糊匹配，如：\&quot;运动\&quot;）
func (r ApiUserFriendsNearByRequest) Tag(tag string) ApiUserFriendsNearByRequest {
	r.tag = &tag
	return r
}

// 搜索半径（单位：米，0表示不限制距离）
func (r ApiUserFriendsNearByRequest) Distance(distance int64) ApiUserFriendsNearByRequest {
	r.distance = &distance
	return r
}

// 跳过的记录数（分页起始位置，默认0）
func (r ApiUserFriendsNearByRequest) Skip(skip int32) ApiUserFriendsNearByRequest {
	r.skip = &skip
	return r
}

// 获取的记录数（分页大小，默认10，最大100）
func (r ApiUserFriendsNearByRequest) Take(take int32) ApiUserFriendsNearByRequest {
	r.take = &take
	return r
}

func (r ApiUserFriendsNearByRequest) Execute() (*UserFriendsNearByResultApiResponse, *http.Response, error) {
	return r.ApiService.UserFriendsNearByExecute(r)
}

/*
UserFriendsNearBy 推荐附近用户

根据地理位置坐标和多种筛选条件，查询附近满足条件的用户列表，支持分页和按距离排序。
地理位置查询使用MySQL的ST_Distance_Sphere函数计算球面距离。
注意：longitude为经度(X轴)，latitude为纬度(Y轴)，参数顺序与常规坐标系一致

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserFriendsNearByRequest
*/
func (a *UserFriendsAPIService) UserFriendsNearBy(ctx context.Context, appKey string) ApiUserFriendsNearByRequest {
	return ApiUserFriendsNearByRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return UserFriendsNearByResultApiResponse
func (a *UserFriendsAPIService) UserFriendsNearByExecute(r ApiUserFriendsNearByRequest) (*UserFriendsNearByResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserFriendsNearByResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserFriendsNearBy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/NearBy"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.longitude == nil {
		return localVarReturnValue, nil, reportError("longitude is required and must be specified")
	}
	if r.latitude == nil {
		return localVarReturnValue, nil, reportError("latitude is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.district != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "district", r.district, "form", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	}
	if r.ageS != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageS", r.ageS, "form", "")
	}
	if r.ageE != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageE", r.ageE, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.distance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distance", r.distance, "form", "")
	} else {
		var defaultValue int64 = 0
		r.distance = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserMutualFollowersRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	appKey string
	skip *int32
	take *int32
}

// 跳过的记录数
func (r ApiUserMutualFollowersRequest) Skip(skip int32) ApiUserMutualFollowersRequest {
	r.skip = &skip
	return r
}

// 获取的记录数
func (r ApiUserMutualFollowersRequest) Take(take int32) ApiUserMutualFollowersRequest {
	r.take = &take
	return r
}

func (r ApiUserMutualFollowersRequest) Execute() (*UserMutualFollowersResultApiResponse, *http.Response, error) {
	return r.ApiService.UserMutualFollowersExecute(r)
}

/*
UserMutualFollowers 推荐共同粉丝用户

推荐有共同粉丝的用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserMutualFollowersRequest
*/
func (a *UserFriendsAPIService) UserMutualFollowers(ctx context.Context, appKey string) ApiUserMutualFollowersRequest {
	return ApiUserMutualFollowersRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return UserMutualFollowersResultApiResponse
func (a *UserFriendsAPIService) UserMutualFollowersExecute(r ApiUserMutualFollowersRequest) (*UserMutualFollowersResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserMutualFollowersResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserMutualFollowers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/MutualFollowers"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserMutualFollowingsRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	appKey string
	skip *int32
	take *int32
}

// 跳过的记录数
func (r ApiUserMutualFollowingsRequest) Skip(skip int32) ApiUserMutualFollowingsRequest {
	r.skip = &skip
	return r
}

// 获取的记录数
func (r ApiUserMutualFollowingsRequest) Take(take int32) ApiUserMutualFollowingsRequest {
	r.take = &take
	return r
}

func (r ApiUserMutualFollowingsRequest) Execute() (*UserMutualFollowingsResultApiResponse, *http.Response, error) {
	return r.ApiService.UserMutualFollowingsExecute(r)
}

/*
UserMutualFollowings 推荐共同关注用户

推荐有共同关注的用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appKey
 @return ApiUserMutualFollowingsRequest
*/
func (a *UserFriendsAPIService) UserMutualFollowings(ctx context.Context, appKey string) ApiUserMutualFollowingsRequest {
	return ApiUserMutualFollowingsRequest{
		ApiService: a,
		ctx: ctx,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return UserMutualFollowingsResultApiResponse
func (a *UserFriendsAPIService) UserMutualFollowingsExecute(r ApiUserMutualFollowingsRequest) (*UserMutualFollowingsResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserMutualFollowingsResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserMutualFollowings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/MutualFollowings"
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
		var defaultValue int32 = 10
		r.take = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserProfileByIdRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	userId int64
	appKey string
}

func (r ApiUserProfileByIdRequest) Execute() (*GetUserProfileResultApiResponse, *http.Response, error) {
	return r.ApiService.UserProfileByIdExecute(r)
}

/*
UserProfileById 获取用户资料

用于他人主页展示

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId 用户ID
 @param appKey
 @return ApiUserProfileByIdRequest
*/
func (a *UserFriendsAPIService) UserProfileById(ctx context.Context, userId int64, appKey string) ApiUserProfileByIdRequest {
	return ApiUserProfileByIdRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return GetUserProfileResultApiResponse
func (a *UserFriendsAPIService) UserProfileByIdExecute(r ApiUserProfileByIdRequest) (*GetUserProfileResultApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetUserProfileResultApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserProfileById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Profile/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserUnfollowUserRequest struct {
	ctx context.Context
	ApiService *UserFriendsAPIService
	userId int64
	appKey string
}

func (r ApiUserUnfollowUserRequest) Execute() (*BooleanApiResponse, *http.Response, error) {
	return r.ApiService.UserUnfollowUserExecute(r)
}

/*
UserUnfollowUser 取消关注

取消关注指定用户

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId 要取消关注的用户ID
 @param appKey
 @return ApiUserUnfollowUserRequest
*/
func (a *UserFriendsAPIService) UserUnfollowUser(ctx context.Context, userId int64, appKey string) ApiUserUnfollowUserRequest {
	return ApiUserUnfollowUserRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return BooleanApiResponse
func (a *UserFriendsAPIService) UserUnfollowUserExecute(r ApiUserUnfollowUserRequest) (*BooleanApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserFriendsAPIService.UserUnfollowUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/UserFriends/{appKey}/Follower/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
